.lower-top
  = link_to questions_path do
    .lower-top__left
      メッセージ
  -if user_signed_in?
    = link_to meetings_path do
      .lower-top__right
        スケジュール
  -else 
    = link_to "/" do
      .lower-top__right
        スケジュール